<div class="jumbotron">
  <div class="container">
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Welcome, <%= current_user.first_name %>!</h3>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">Name: <%= current_user.first_name %> <%= current_user.last_name %></li>
        <li class="list-group-item">Email: <%= @user.email %></li>
        <li class="list-group-item" ><%= @user.created_at.localtime.strftime("Created on: %a, %b %d, %Y at %I:%M:%S %P") %>.</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Your Itineraries</h3>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" align="right"><a href="/users/<%= current_user.id %>/itineraries/new">+ add an itinerary</a></li>
        <% @itineraries.order("created_at DESC").each do |itinerary| %>
          <li class="list-group-item"><a href="/users/<%= current_user.id %>/itineraries/<%= itinerary.id %>"><%= itinerary.label %></a>
            <br>
            <form id="flight-status-form">
            <input type="hidden"  id="ident_text" value="<%= itinerary.airline  %><%= itinerary.flight_number %>">
              <button id="flight_status" type="button" class="btn btn-primary">Check flight status</button>
            </form>
            <div id="flight-status" class="text-center">
              <br><br>
            </div>
            <div align=right>
              <a href="/users/<%= current_user.id %>/itineraries/<%= itinerary.id %>/edit">edit this itinerary</a>
            </div>
            <div align=right>
              <form action="/users/<%= current_user.id %>/itineraries/<%= itinerary.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <a><input id="delete_itinerary" type="submit" value="delete this itinerary"></a>
              </form>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

